urllib3<2.0
requests>=2.27.1
beautifulsoup4>=4
colorama
clint>=0.5.1
tabulate>=0.8.0
Levenshtein>=0.20.9
neo4j<5.0.0,>=4.1.1
impacket>=0.10.0
numpy>=1.19.5
ansi2image>=0.1.4

#From CrackMapExec (https://github.com/mpgn/CrackMapExec/blob/master/pyproject.toml)
aioconsole>=0.3.3
minikerberos>=0.4.0
pypsrp>=0.7.0
xmltodict>=0.12.0
